body{
    background-color: darkgray;
}

button{
    height: 150px;
}
.selected-food-item-button{
    background-color: darkslategrey !important;
}
.order-options{
    display: flex;
    justify-content: flex-start;
    gap: 15px;
    background-color: blue;
}

.order-options button{
    width: 150px;
    height: 150px;
}

.main-layout{
    display: flex;
    width: 100%;
}

.left-container{
    flex: 45;
}
.right-container{
    flex: 55;
}
.category-container{
    height: 150px;
    flex-shrink: 0;
    margin-top: auto;
}