body{
    background-color: darkgray;
}

button{
    height: 150px;
}
.selected-food-item-button{
    background-color: darkslategrey !important;
}
.order-options{
    display: flex;
    justify-content: flex-start;
    gap: 15px;
    background-color: blue;
}

.order-options button{
    width: 150px;
    height: 150px;
}